*{
    margin: 0;
    padding: 0;
}


body{
    /*width: 1000px;*/
    /*margin: 20px auto;*/
    font-family: Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
}

article{
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    color: #3b3b3a;
}

h1{
    color: #d90004;
    font-family: "Times New Roman";
    text-align: center;
}

h2{
    color: #40c3d9;
    text-indent: 50px;
}

/*--------------------------------mystyle*/
.row .header{
    height: 150px;
    padding-top: 10px;
    background: #2b37be;
}

.header .col-lg-1 img{
    width: 115px;
}
.header .col-lg-6{
    padding: 0 0 0 20px;
}
.header .col-lg-6 h1{
    color: #000080;
    font-style: italic;
    font-size: 20px;
}

.header .col-lg-4 address{
    margin-top: 20px;
}
.header .col-lg-11{
    padding: 0 0 0 35px;
}
.header .col-lg-3 .btn{
    background: #417E9E;
}
.header .col-lg-3 .btn:hover{
    background: #40c3d9;
}
.header .col-lg-3 a.btn{
    color: #fff;
    display: inline-block;
    border-radius: 0;
}
.header .col-lg-3 .lang{
    display: inline-block;
}

.test .col-lg-3{
    height: 200px;
    background: #000;
}
.test .col-lg-6{
    height: 200px;
    background: #ccc;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .header .col-lg-4{
        font-size: 15px;
        width: 220px;
    }
}