@font-face {
    font-family: Helvetica; /* Имя шрифта */
    src: url(../fonts/helvetica.ttf); /* Путь к файлу со шрифтом */
}
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}


/*--------------------------------mystyle*/
/*--------------------------------.header*/
.row .header{
    height: 170px;
    padding-top: 10px;
    background: rgb(90, 192, 231) ;
}
.header .col-lg-2{
    padding-right: 0;
}
.header .col-lg-2 img{
    width: 115px;
}
.header .col-lg-6{
    padding: 0 0 0 20px;
}
.header .col-lg-6 h1{
    color: #000080;
    font-style: italic;
    font-size: 23px;
    margin: 10px 0 0 0;
    text-align: center;
}
.header .col-lg-6 h1 strong{
    display: block;
}

.header .col-lg-4 address{
    margin-top: 10px;
    padding-left: 52px;
    color: #000080;
}
.header .col-lg-10{
    padding: 0;
}
/*-------------------------------perekluchatel yazikov*/
.header .sprite-languages{
    text-align: right;
    width: 17%;
}
.header .sprite-languages ul{
    list-style: none;
    margin-top: 10px;
}
.header .sprite-languages li{
    list-style: none;
    display: inline-block;
}
.header .sprite-languages a:hover, .header .sprite-languages .active-lang{
    opacity: 1;
}
.header .sprite-languages a{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    background: url("../images/sprite-languages.png");
    width: 32px;
    height: 32px;
    display: block;
    opacity: 0.3;

    transition: ease all .5s;
    -webkit-transition: ease all .5s;
}
.header .sprite-languages a.eng{
    background-position: -32px 0;
}
.header .sprite-languages a.ru{
    background-position: 32px 0;
}
/*--------------------------------perekluchatel yazikov*/

/*--------------------------------navigation*/
.header nav{
    margin-top: 20px;
}
.header .nav-pills{
    margin-left: 26px;
}
.header .nav-pills li>a{
    border-radius: 0;
    margin-right: 18px;
    padding: 11px 30px;
    transition: ease all .5s;
    -webkit-transition: ease all .5s;
    -moz-transition: ease all .5s;
    -o-transition: ease all .5s;
}
.nav-pills > li.active > a{
    background: rgb(180,131,255);
}
.nav-pills > li.active > a:hover{
    background: rgb(126, 83, 197);
}
.nav-pills > li > a{
    background: rgb(90,192,231);
    color: #000;
    text-transform: uppercase;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
}
.nav-pills > li > a:hover{
    background: rgb(14,187,208);
    box-shadow: 10px 7px 10px rgba(0,0,0,0.5);
    transition: ease all .5s;
    -webkit-transition: ease all .5s;
    -moz-transition: ease all .5s;
    -o-transition: ease all .5s;
}

/*--------------------------------navigation*/
/*--------------------------------.header*/

/*--------------------------------news*/
.center .panel{
    margin-top: 20px;
    border-radius: 0;
    border: none;
    background: rgb(229, 232, 252);
}
.center .panel .panel-heading{
    background: rgb(85,118,252) ;
    border-radius: 0;
}
.center .panel .panel-heading h3{
    margin: 0;
    text-align: center;
    color: #fff;
}
.center .panel .panel-body{
    padding: 0;
}
.center .panel .panel-body ul{
    list-style: none;
}
.center .panel .panel-body ul li{
    list-style: none;
}
.center .panel .panel-body ul li a{
    color: #000;
    font-size: 16px;
    display: block;
    padding: 5px 15px 0;
    margin: -1px 0 0 0;
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    -moz-transition: ease all .3s;
    -o-transition: ease all .3s;
}
.center .panel .panel-body ul li a:after{
    content: '';
    border-bottom: 1px solid rgb(175,191,255);
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 1px;
    padding-top: 5px;
}
.center .panel .panel-body ul li:last-child a:after{
    border: none;
}
.center .panel .panel-body ul li a:hover{
    text-decoration: none;
    background: rgb(174, 190, 254);
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    -moz-transition: ease all .3s;
    -o-transition: ease all .3s;
}
.center .panel-body> a{
    display: block;
    width: 50%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    transition: ease box-shadow .3s;
    -webkit-transition: ease box-shadow .3s;
    -moz-transition: ease box-shadow .3s;
    -o-transition: ease box-shadow .3s;
    background: rgb(85, 118, 252);
    border: none;
}
.center .panel-body> a:hover{
    box-shadow: 8px 9px 8px rgba(0,0,0,0.5);
    transition: ease box-shadow .3s;
    -webkit-transition: ease box-shadow .3s;
    -moz-transition: ease box-shadow .3s;
    -o-transition: ease box-shadow .3s;
    background: rgb(78,107,239);
}
/*--------------------------------news*/

/*--------------------------------center column*/
.center .col-lg-6{
    margin-top: 20px;
}
.center .thumbnail{
    margin: 0 0 20px 0;
    padding: 0;
    border: none;
    text-align: justify;
    background: rgba(236, 233, 233, 1);
    border-radius: 0;
}
.center .thumbnail p{
    padding-right: 20px;
}
.center .loaded{
    margin: 0;
    padding: 0;
}
.center .thumbnail figure{
    float: left;
    margin: 5px 15px;
    width: 200px;
    height: 150px;
}
.center .thumbnail figure img{
    max-width: 200px;
}
.center .thumbnail h2{
    text-indent: 0;
    margin: 0 0 10px 0;
    padding: 10px;
    text-align: center;
    background: rgb(63, 81, 180);
}
.center .thumbnail h2 a{
    color: #fff;
}
.center .thumbnail h2 a:hover{
    text-decoration: none;
}
.center .thumbnail a.btn{
    float: right;
    margin: 0 20px 20px 0;
    background: rgb(63, 81, 180);
    border-radius: 0;

    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);

    transition: ease box-shadow .3s;
    -webkit-transition: ease box-shadow .3s;
    -moz-transition: ease box-shadow .3s;
    -o-transition: ease box-shadow .3s;
}
.center .thumbnail a.btn:hover{
    background: rgb(56, 73, 171);

    box-shadow: 8px 8px 9px rgba(0,0,0,0.3);
    transition: ease box-shadow .3s;
    -webkit-transition: ease box-shadow .3s;
    -moz-transition: ease box-shadow .3s;
    -o-transition: ease box-shadow .3s;
}
.center button{
    width: 29%;
    margin: 5px auto 10px;
    display: block;
    background: rgb(180,131,255);
    border: none;
    height: 30px;

    box-shadow: 4px 4px 2px rgba(0,0,0,0.5);

    transition: ease all .5s;
    -webkit-transition: ease all .5s;
    -moz-transition: ease all .5s;
    -o-transition: ease all .5s;
}
.center button:hover{
    background: rgb(126, 83, 197);
    color: #fff;

    box-shadow: 10px 7px 10px rgba(0,0,0,0.5);

    transition: ease all .5s;
    -webkit-transition: ease all .5s;
    -moz-transition: ease all .5s;
    -o-transition: ease all .5s;    
}
/*--------------------------------center column*/


/*--------------------------------footer*/
.footer{
    background: rgb(90, 192, 231);
}
.footer .col-lg-5{
    text-align: center;
}
.footer .col-lg-12{
    text-align: center;
    color: #000080;
    font-size: 17px;
    font-style: italic;
}
.footer .col-lg-4{
    margin-top: 40px;
    padding-left: 80px;
    font-style: italic;
    color: #fff;
}
/*--------------------------------footer*/


/*.center .col-lg-3{
    height: 300px;
    background: #000;
}
*/


@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .header .col-lg-4{
        font-size: 18px;
        width: 300px;
    }
}